@import '/public/variables.scss';

.user {
    background-color: $dark-blue;
    border-radius: $border-radius;

    &__content {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 2rem 2.125rem;
        background-color: $blue;
        border-radius: inherit;
    }

    &__picture {
        width: calc(64px - 3px * 2);
        border: 3px solid #FFF;
        border-radius: 50%;
    }

    &__title,
    &__name {
        margin: 0;
    }

    &__title {
        margin-bottom: 0.25rem;
        color: $pale-blue;
        font: $fw-regular 0.9375rem/1.1113rem $ff-rubik;
    }

    &__name {
        color: #FFF;
        font: $fw-light clamp(1.5rem, 3vw, 2.5rem)/1.7775rem $ff-rubik;
    }

    &__timeframes {
        display: flex;
        padding: 1.5rem 0;

        button {
            flex: 1;
            color: $desaturated-blue;
            font: $fw-regular 1.125rem/1.3331rem $ff-rubik;
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: color .3s ease;
            
            &.user__active-timeframe {
                color: #FFF;
            }
        }
    }

}

@media only screen and (min-width: 768px) {
    .user {
        max-height: 32.375rem;
        min-width: 15.9375rem;

        &__content {
            padding: 2.375rem 2rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.625rem;
        }

        &__picture {
            width: calc(78px - 3px * 2);
        }

        &__timeframes {
            padding: 1.625rem 2rem 2rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.3125rem;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .user {
        &__content {
            padding-bottom: 5rem;
        }

        &__name {
            line-height: 2.9625rem;
        }

        &__timeframes {
            button {
                &:hover {
                    color: #FFF;
                }
            }
        }
    }
}