/* Colors */
// Primary

$blue: hsl(246, 80%, 60%);

$light-red-work: hsl(15, 100%, 70%);
$soft-blue-play: hsl(195, 74%, 62%);
$light-red-study: hsl(348, 100%, 68%);
$lime-green-exercise: hsl(145, 58%, 55%);
$violet-social: hsl(264, 64%, 52%);
$soft-orange-selfcare: hsl(43, 84%, 65%);

$card-border-colors: $light-red-work, $soft-blue-play, $light-red-study, $lime-green-exercise, $violet-social, $soft-orange-selfcare;

// Neutral

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);
$active-blue: hsla(236, 41%, 34%, 1);

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

$ff-rubik: 'Rubik', sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;

/* Shape */
$border-radius: 15px;

/* Icons */
// Images
$icon-work: url(~/public/assets/icon-work.svg);
$icon-play: url(~/public/assets/icon-play.svg);
$icon-study: url(~/public/assets/icon-study.svg);
$icon-exercise: url(~/public/assets/icon-exercise.svg);
$icon-social: url(~/public/assets/icon-social.svg);
$icon-selfcare: url(~/public/assets/icon-self-care.svg);

$card-icons: $icon-work, $icon-play, $icon-study, $icon-exercise, $icon-social, $icon-selfcare;

//Position
$top-icon-work-mobile: -11px;
$top-icon-play-mobile: -14px;
$top-icon-study-mobile: -6px;
$top-icon-exercise-mobile: 0;
$top-icon-social-mobile: -15px;
$top-icon-selfcare-mobile: -19px;

$card-top-icons-mobile: $top-icon-work-mobile, 
                        $top-icon-play-mobile, 
                        $top-icon-study-mobile, 
                        $top-icon-exercise-mobile, 
                        $top-icon-social-mobile, 
                        $top-icon-selfcare-mobile;

$top-icon-work-desktop: -11px;
$top-icon-play-desktop: -5px;
$top-icon-study-desktop: -6px;
$top-icon-exercise-desktop: 0;
$top-icon-social-desktop: -15px;
$top-icon-selfcare-desktop: -11px;

$card-top-icons-desktop: $top-icon-work-desktop, 
                         $top-icon-play-desktop, 
                         $top-icon-study-desktop, 
                         $top-icon-exercise-desktop, 
                         $top-icon-social-desktop, 
                         $top-icon-selfcare-desktop;