@import '/public/variables.scss';

body {
    margin: 0;
    padding: 0;
    background-color: $very-dark-blue;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    overflow: hidden;
}

main {
    margin: 5.0625rem 1.5rem;
    max-width: 1110px;
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
        gap: 1.875rem;
        width: 80%;
        margin: 5.0625rem auto;
    }
}